table {
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
	/* max-width: 1000px; */
}

th {
	cursor: pointer;
}

td,
th {
	border: 1px #dddddd solid;
	text-align: left;
	padding: 8px;
	font-size: 12px;
}

.editBtn {
	cursor: pointer;
	padding: 4px 14px;
	background-color: lightgreen;
	border: 1px solide grey;
	margin-right: 5px;
}

.addBtn {
	cursor: pointer;
	padding: 4px 14px;
	background-color: orange;
	border: 1px solide grey;
	margin-bottom: 5px;
}

.deleteBtn {
	cursor: pointer;
	background-color: lightsalmon;
	padding: 4px 14px;
}

.striped:nth-child(even) {
	background-color: #dddddd;
}
.hover:hover {
	background-color: #61dafb;
}

@media only screen and (min-width: 1080px) {
	th,
	td {
		font-size: 18px;
	}
}
